@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }

@font-face {
    font-family: 'Cigra';
    src: url('../font/cigra-regular.woff') format('woff');
    font-style: normal;
    font-weight: normal;
}

html {
  box-sizing: border-box;
  font-family: kepler-std-semicondensed, serif;
  font-style: normal;
  color: #DBCEAC;
  background-image: url('../img/background.jpg');
  background-position: center;
  background-color: #121f31;
}

body {
  margin: auto;
  width: 1300px;
  align-items: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a {
  margin: 0;
  text-decoration: none;
  height: 70px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

nav a, nav a:visited {
  padding: 0.6rem 1rem;
  font-weight: 600;
  font-size: 1.1rem;
  color: #DBCEAC;
  text-transform: uppercase;
}

nav a:hover {
  color: #ab8e40;
  transition: 0.2s ease;
}

h1, h2 {
  font-family: Cigra;
}

h1 {
    font-size: 2.3rem;
}

h2 {
  font-size: 1.7rem;
}

h3 {
  font-weight: 600;
  font-size: 1.3rem;
}

.hero {
  display: grid;
  grid-template-areas: "banner";
  place-items: center;
  place-content: center;
  overflow: hidden;
  margin: 0 auto 5rem;
  position: relative;
}

.hero > * {
  grid-area: banner;
  max-width: 100%;
}

.hero img {
  width: 100%;
  height: auto;
  object-fit: cover;
  z-index: -1;
}

.hero h1 {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  padding-left: 3rem;
}

.about {
  display: flex;
  width: 900px;
  margin: 0 auto 5rem;
}

.abt-container {
  padding: 0 3rem;
  text-align: right;
  border: 0.5px solid #DBCEAC;
  border-right: 0;
}

.work {
  width: 900px;
  margin: 0 auto 5rem;
}

.work-container {
  padding: 0 10rem;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 2rem 0;
}

article {
  flex: 250px;
  max-width: 250px;
}

article img {
  vertical-align: middle;
}

.container {
  position: relative;
  width: 100%;
}

.p-img {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: #121f31;
  opacity: 0;
  transition: 0.2s ease;
}

article:hover .overlay {
  opacity: 100%;
  border: 1px solid #DBCEAC;
}

.text {
  position: absolute;
  bottom: 1rem;
  padding: 1rem;
}

.text p {
  margin-bottom: 3rem;
}

.button {
  text-decoration: none;
  background-color: #000;
  color: #FFF;
  padding: 1rem;
}

.button:hover {
  background-color: #DBCEAC;
  color: #121f31;
  transition: 0.2s ease;
}

.work, .contact, .socials {
  align-items: center;
  text-align: center;
}

.contact {
  width: 900px;
  margin: auto;
}

.form input{
  width: 33.7%;
  padding: 0.3rem;
  margin: 0 0.3rem 1rem 0.3rem;
  font-family: kepler-std-semicondensed, serif;
}

.form textarea {
  font-family: kepler-std-semicondensed, serif;
}

footer {
  margin: 3rem 0 0 0;
  padding: 1rem 0;
  border-top: 2px solid #DBCEAC;
}

.socials a, .socials a:visited {
  text-decoration: none;
  color: #DBCEAC;
  padding: 0 0.5rem;
}

.socials a:hover {
  color: #ab8e40;
  transition: 0.2s ease;
}

.socials p{
  margin-top: 0.3rem;
}
